@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #fbbf24;
  --default-font-family: "Outfit", sans-serif;
  --font-playfair: "Playfair", serif;
  --font-inter: "Inter", sans-serif;
}

/* * {
  font-family: "Outfit", sans-serif;
}

.font-playfair {
  font-family: "Playfair", serif;
} */
